.icon-container a {
    display: inline-block;
    text-align: center;
}
div {
    text-align: center;
}

div a {
    display: inline-block;
    margin: 0 10px; /* Optional: gives some space between icons */
}